* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    }
    
    header { 
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        /* margin: auto; */
        /* padding:14px 10px ; */
        position: fixed;
        right: 10%;
        z-index: 50;
    }
    
    .parent-nav {
        display: flex;
        align-items: center;
        column-gap: 10px;
    }
    
    header .logo { font-size: 10px;}
    
    .parent-nav ul { display: flex;
    align-items: center;
    column-gap: 40px;
    border-right: 1px solid gray;
    padding:5px 20px 5px 0px;}
    
    .parent-nav ul li { list-style: none;
    font-size: 15px;}
    
    .parent-nav .right-contact 
    {
        display: flex;
        align-items: center;
        column-gap: 10px;
    }
    
    /* VERY IMPORTANT to get a circle use border radius of 50% play with it and check everythig out */
    .parent-nav .right-contact .right-contact-icon {
        background-color: aquamarine;
        width: 30px;
        height:30px ;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }




    .parent-nav .right-contact .right-contact-text p { font-size: 12x;
    line-height: 18px;
}


    .parent-nav .right-contact .right-contact-text span {color: grey;}
   
   
    /* global styling */
    .parent-flex { 
        height: 100vh;
        width: 100%;
        margin: auto;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    /* global styling */
    .container { height:80%;
    background-color: rgb(58, 56, 51);
    width: 80%;
    display: flex;
}
    
/* global styling */
    .left {       
          width: 50%;
        height: 100%;
        background-color: rgb(133, 55, 55);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;}

/* global styling */
.service-left { display: flex;
background-color: #E2E6E9;
column-gap: 10px;
padding-top: 15px;}

.car-service-bg .left { background-color: #E2E6E9;}

.car-service-bg p { font-size: 11px;
padding-top: 4px;
color: #1e1b1b;}

.car-service-bg  .left #service-p {  padding-right: 70px;
    color: black;
padding-top:15px ;}

.car-service-bg h1 { padding-right: 30px;}

/* global styling */
.service-left-left { 
    background-color: white;
    width: 25px;
    height:25px ;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.car-service-bg .right { background-color: #E2E6E9;
display: flex;
align-items: start;
flex-direction: column;
padding-top: 75px;}

.car-service-bg .right form input { display: flex;
    align-items: start;
    height: 6vh;
    width: 55vh;
    margin-left: 10px;
    background-color:white;
    border: none;
    margin-bottom: 1px;

}
.car-service-bg .right h3 {  padding-bottom: 20px;
padding-left: 10px;}

.car-service-bg .right .btn  {padding-left: 10px;}

    main  .container .left-text {
         width: 50%;
        height: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
    }

    main .container .left-text .content {
        display: inline-block;
        justify-content: center;
        align-items: center;
        padding: 100px 15px 50px 20px;
    }
/*  CHECK VERY IMPORTANT FOR HOVERS - check for Cusor, transition  etc*/
    .btn { display: flex;
    justify-content: left;
margin-top: 10px;
cursor: pointer;
transition: all ease-in-out 0.4s;}

.btn:hover{
    transform: scale(1.0);
    background-color:rgb(185, 70, 29);
    color: black;}

   .btn button { background-color: #FF6433;
color: white;
padding:10px 24px 10px 24px;
border: none;
border-radius: 12px;}
  



.right {  width: 50%;
    height: 100%; 
    background-color: rgb(81, 81, 139);
    display: flex;
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
  }


main  .container .right-img {   background-image: url('../IMAGES/Image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;}
    
    
    main .container .right-img .service {  
    position: absolute;
    left:-21%;
    top: 0;
    }
    
    main .container .right-img .rating {
        position: absolute;
    right: -18%;
    bottom: 0;
    }
    
    
    .icon { 
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        column-gap: 10px;
    }

    .icon span { color: grey; }




/* SECTION - QUOTE */
#get-a-quote-section .container .left .left-qoute { 
    display: flex;
    flex-direction: column;
    justify-content: left; 
background-color: white;}

.left .quote-bg { background-color: white;}


#get-a-quote-section .container .left p {  font-size: 11px;
    color: #1e1b1b;
padding-top: 15px;}

#get-a-quote-section .container .left .btn { 
    padding-top: 15px;}


     
    .quote-bg { background-color: white ;}

     .right-quote { display: flex;
    background-color: white;
    column-gap: 10px;
    padding-top: 15px;} 
 
    .quotex { padding-top: 50px;
    padding-left: 90px;}

.right-quote p {
     font-size: 11px;
padding-top: 5px;}


    
    .right-quote-left {
        background-color: #661ce7;
        width: 25px;
        height:25px ;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;}
 


    /* SECTION WHAT WE OFFER */
    #what-we-offer .container { background-color: #E2E6E9; }

    #what-we-offer .offer-content { width: 100%;
        height: 100%;
    text-align: center;
padding-top: 30px;}

     #what-we-offer .offer-content .what-we-offer-card 
      { display: flex;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;
        align-items: center;
        padding-top: 35px;} 

    #what-we-offer .offer-content .what-we-offer-card .card1 {
        background-color: white;
        width: 200px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }

    #what-we-offer .offer-content .what-we-offer-card .card1 p { padding-top: 5px;}

    #what-we-offer .offer-content .what-we-offer-card #card1-wheel { background-color: #FF6433;}
    
    
    #what-we-offer .offer-content .offercard { text-align: right;
        font-size: 10px;
        padding-right: 82px;
padding-top: 10px;}

/*  SECTION -QUESTIONS */
.question { background-color: #E2E6E9;}

.question p { font-size: 11px;}


.question1 p { font-size: 11px;}

 .zero { background-color: #FF6433;
width: 45%;
height: 100px;
margin-top: 30px;
margin-bottom: 5px;}

.plus { background-color: white;
width:45%;
height: 50px;
margin-bottom: 5px;
display: flex;
justify-content: space-between;
align-items: center;
padding-left: 10px;}



/* SECTION- NICETHINGS */

.nicex { background-color: #F2F2F2} 

.niceimage {  display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F2F2;
    width: 130vh;
    height: 40vh;
    gap: 40px;
    margin-top: 50px;
}
 .nice1 h1 { display: flex;
justify-content: center;
;}

.nice1 p { font-size: 11px;}
 .nice-image-left { 
display: flex;
align-items: start;
gap: 10px;
padding-right: 135px;
padding-bottom: 5px;
}


.nice2 {background-color: white;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nice-image-right { width: 50%;
    background-color: aliceblue;
height: 100%;}

/* SECTION - FOOTER */
.footer-bg { 
    background-color: #1E1B1B;

width: 100%; height: 60vh;}

.footer-bg h2 { color: white;}

.footericon { display: flex;
gap: 10px;
padding-top: 20px;
padding-right: 130px;}

.footer-right { background-color: #1E1B1B;
    width: 50%;
padding-top: 80px;
padding-left: 20px;}

.footer-right p { color:  #FFFFFF; font-size: 11px ;}

    .footer-right h4 { padding-bottom: 10px;
        color: #FFFFFF; }

    .footer-left { background-color: #1E1B1B; }

    .footer-head { display: flex;
    column-gap: 100px;
    padding-left: 255px;
    align-items: center;
background-color: #1E1B1B;border: 1px solid #1E1B1B;
width: 100%;}

.footer-logo { color: #FFFFFF;}


.footer-nav {
    display: flex;
    align-items: center;}

.footer-head p { font-size: 11px; 
color: #FFFFFF;}

.footer-nav ul { display: flex;
align-items: center;
column-gap: 30px;
padding:30px 20px 30px 0px;
color: #FFFFFF;}

.footer-nav ul li { list-style: none;
font-size: 11px;}

/* BRAND WE SWERVE */

.brand-flex { background-color:white ;
width: 100%;
height: 50vh}

.brand1 { padding-top: 10px;}
